language: java
jdk:
  - openjdk-ea
  - openjdk11
  - openjdk8

matrix:
  fast_finish: true
  allow_failures:
    - jdk: openjdk-ea

after_success:
  - mvn -T 1C clean test jacoco:report-aggregate coveralls:report

cache:
  directories:
  - $HOME/.m2
