VERIFICATION

Verification is intended to assist the Chocolatey moderators and community
in verifying that this package's contents are trustworthy.

Package can be verified like this:

* Go to https://github.com/ebourg/jsign/releases
* Download the `jsign-<version>.jar` file for the latest release (for example https://github.com/ebourg/jsign/releases/download/7.0/jsign-7.0.jar)
* Get the checksum using one of the following methods:
  - Using powershell function 'Get-FileHash'
  - Use chocolatey utility 'checksum.exe'
* Compare the checksum with the one of the jsign.jar file embedded in this package.
  The expected sha-256 value for the version 7.0 is:
  `325df319621e7fa74384c8852efdb5828871bf6405648a4c621ee5fc37c59b6c`
