VERIFICATION

Verification is intended to assist the Chocolatey moderators and community
in verifying that this package's contents are trustworthy.

Package can be verified like this:

* Go to https://github.com/ebourg/jsign/releases
* Download the `jsign-<version>.jar` file for the latest release (for example https://github.com/ebourg/jsign/releases/download/4.2/jsign-4.2.jar)
* Get the checksum using one of the following methods:
  - Using powershell function 'Get-FileHash'
  - Use chocolatey utility 'checksum.exe'
* Compare the checksum with the one of the jsign.jar file embedded in this package.
  The expected sha-256 value for the version 4.2 is:
  `290377FC4F593256200B3EA4061B7409E8276255F449D4C6DE7833FAF0850CC1`
