VERIFICATION

Verification is intended to assist the Chocolatey moderators and community
in verifying that this package's contents are trustworthy.

Package can be verified like this:

* Go to https://github.com/ebourg/jsign/releases
* Download the `jsign-<version>.jar` file for the latest release (for example https://github.com/ebourg/jsign/releases/download/7.2/jsign-7.2.jar)
* Get the checksum using one of the following methods:
  - Using powershell function 'Get-FileHash'
  - Use chocolatey utility 'checksum.exe'
* Compare the checksum with the one of the jsign.jar file embedded in this package.
  The expected sha-256 value for the version 7.2 is:
  `9a99673bb011cc1d7faf00bc840a6b333fc8a9b596098da2f92946b68297f067`
