VERIFICATION

Verification is intended to assist the Chocolatey moderators and community
in verifying that this package's contents are trustworthy.

Package can be verified like this:

* Go to https://github.com/ebourg/jsign/releases
* Download the `jsign-<version>.jar` file for the latest release (for example https://github.com/ebourg/jsign/releases/download/5.0/jsign-5.0.jar)
* Get the checksum using one of the following methods:
  - Using powershell function 'Get-FileHash'
  - Use chocolatey utility 'checksum.exe'
* Compare the checksum with the one of the jsign.jar file embedded in this package.
  The expected sha-256 value for the version 5.0 is:
  `30CAC7606167487B2584A48FB8102BF958238F6F7118840C677BAADC1D2C4FCA`
