VERIFICATION

Verification is intended to assist the Chocolatey moderators and community
in verifying that this package's contents are trustworthy.

Package can be verified like this:

* Go to https://github.com/ebourg/jsign/releases
* Download the `jsign-<version>.jar` file for the latest release (for example https://github.com/ebourg/jsign/releases/download/7.3/jsign-7.3.jar)
* Get the checksum using one of the following methods:
  - Using powershell function 'Get-FileHash'
  - Use chocolatey utility 'checksum.exe'
* Compare the checksum with the one of the jsign.jar file embedded in this package.
  The expected sha-256 value for the version 7.3 is:
  `3faabc9207a093660a10deaab968c73a1f786d84c93fcbcc44545de0636da396`
