Package: jsign
Version: [[version]]
Section: utils
Priority: optional
Architecture: all
Depends: default-jre-headless (>= 2:1.8) | java8-runtime-headless
Suggests: ykcs11
Recommends: bash-completion
Maintainer: Emmanuel Bourg <ebourg@apache.org>
Homepage: https://ebourg.github.com/jsign
Description: Code signing for Windows executables, Microsoft Installers and scripts
 Jsign is a Java implementation of Microsoft Authenticode that lets you sign
 and timestamp executable files for Windows, Microsoft Installers (MSI),
 Cabinet files and scripts (PowerShell, VBScript, JScript, WSF). Jsign is
 platform independent and provides an alternative to native tools like
 signcode/signtool on Windows or the Mono development tools on Unix systems.
